doctype html
html(lang='en')
    script(src="javascripts/search.js")
    head
        title Beat the Bias!
        <link href="/stylesheets/style.css" type="text/css" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css?family=Libre+Baskerville&display=swap" rel="stylesheet">

    body
        div(class="greeting")
            h1 #{title}
            h3 Use ArticleDiff to beat the bias and stay one step ahead of the fake news!
            p Developed by Brennen Green and Kevin Patel
            p University of Kentucky
        div(class="search")
            input(type="search", id="search-bar", name="search-bar", class="search-box" placeholder="Article topic...") 
            div(class="search-button", id="button-3" onclick="search()")
                div(id="circle")
                a Search!
        div(class="hl")

        div(class="company-box" style="display:flex;flex-wrap:nowrap;")
            div(class="whitespace-divider")
            div(class="company-container" id="container-left")
                select(name="company-left" id="1" class="company-selection")
                    option(value="") Company One
                    option(value="CNN") CNN
                    option(value="Breitbart") Breitbart
                    option(value="FOX") FOX
                    option(value="Politico") Politco
                    option(value="AP") AP
                    option(value="BBC") BBC
            div(class="whitespace-divider")
            div(class="vl")
            div(class="whitespace-divider")
            div(class="company-container" id="container-right")
                select(name="company-right" id="2" class="company-selection")
                    option(value="") Company Two
                    option(value="CNN") CNN
                    option(value="Breitbart") Breitbart
                    option(value="FOX") FOX
                    option(value="Politico") Politco
                    option(value="AP") AP
                    option(value="BBC") BBC
            div(class="whitespace-divider")

                
