doctype html
html(lang='en')
    head
        title Beat the Bias!
        <link href="/stylesheets/style.css" type="text/css" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css?family=Libre+Baskerville&display=swap" rel="stylesheet">

    body
    block message
        div(class="greeting")
        div(class="hl")
    block company-box
        div(class="company-box" style="display:flex;flex-wrap:nowrap;")
            div(class="company-container" id="container-left")
            div(class="vl")
            div(class="company-container" id="container-right")

    block scripts
                

                
